.fingerprint-me
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 150px;

  .fingerprint-warning
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 300px;
    padding: 30px;

  h3, p
    text-align: center

  

