.fingerprint-me
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 150px;

  .fingerprint-warning
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    padding: 5px;

  .fingerprint-buttons-container
    display: flex;
    flex-direction: row
    justify-content: space-between

  .fingerprint-card
    width: 700px
    padding: 0
  
  .fingerprint-rows
    display: flex;
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    width: 100%
    padding: 0 20px 30px 20px
  
  .fingerprint-row
    display: flex;
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

  .fingerprint-button
    margin: 5px;

  .enter-name
    width: 350px;
    height: 240px;

    h4
      padding-bottom: 20px
      text-align: center

    
    .title
      padding-bottom: 20px;

    .button
      margin-top: 20px

  .fingerprint-name
    display: flex;
    flex-direction: column;
    justify-content: 
    height: 140px;
    width: 300px;

  #canvas
    visibility: hidden

  .fingerprint-container
    display: flex
    flex-direction: column;

  h3, p
    text-align: center

.fingerprinting-fingerprinting
  padding-bottom: 100px;